.imgHeader{
	
	margin-bottom: 30px;


}

.txtc{
	text-align: center;
}
.btnCreer{

	margin-left: 30px
}
.containerPartie{


	width: 100%;


}
.tb{
	border: 1px solid black;
}
.goright{
    position: absolute;
    right: 0px;
    width: 820px;
}

.creer{
	width:800px;
	margin:0 auto;
}
.crtPrt{
	width: 100%;
	display: inline-block;
}


.sel{
	max-width: 120px;

	margin-bottom: 2px;
	width:100%;
}
.ssel{
	margin-right: 45px;
}
.scorebtn{
	margin-top: 2px;
	margin-bottom: 2px;
}
.scorebtntop{
	margin-bottom: 20px;
}

table.select.mine{
	border:none;
}
td.JH  { border-bottom:1px solid black; vertical-align:bottom;}
td.JB  { border-bottom:1px solid black; border-right:1px solid black; vertical-align:bottom;}
td.JHS { border-right:1px solid black; vertical-align:top;}
td.JBS { vertical-align:top;}

table.NONE{border-spacing:10;border-collapse:initial}

