.imgHeader{
	
	margin-bottom: 30px;


}
.tb{
	border: 1px solid black;
}

.sel{
	border: none;
	margin-bottom: 2px;
	width:100%;
}
.scorebtn{
	margin-top: 2px;
	margin-bottom: 2px;
}
.scorebtntop{
	margin-bottom: 20px;
}

table.select.mine{
	border:none;
}
td.JH  { border-bottom:1px solid black; vertical-align:bottom;}
td.JB  { border-bottom:1px solid black; border-right:1px solid black; vertical-align:bottom;}
td.JHS { border-right:1px solid black; vertical-align:top;}
td.JBS { vertical-align:top;}

table.NONE{border-spacing:10;border-collapse:initial}

